.homey-widget.homey-dark-mode {
    background-size: cover;
    background-position: center;
    position: relative;
    min-height: 150px;
    display: flex;
    flex-direction: column;
}

.logo {
    position: absolute;
    top: 20px;
    right: 20px;
    width: 10%;
    max-width: 50px;
}

h1.homey-text-bold {
    margin: 0;
    padding: 10px;
    background: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.switch-container {
    position: absolute;
    left: 15px;
    top: 50%;
    transform: translateY(-50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
}

.switch-container.hidden {
    display: none;
}

.error-message {
    position: absolute;
    left: 20px;
    top: 20px;
    color: #000000;
    font-size: 16px;
    display: none;
}

.error-message.visible {
    display: block;
}

.text-switch {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    user-select: none;
    font-size: 18px;
    font-weight: bold;
    background-color: rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    padding: 10px;
    border-radius: 10px;
}

.switch-text {
    color: #636262;
    transition: color 0.3s ease;
}

.switch-text.active {
    color: #f3e5ab;
}

.switch-separator {
    color: #f3e5ab;
    margin: 0 5px;
}
